.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.navbar {
    background-color: cornflowerblue;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-family: fantasy;
    font-size: 20px;
}

body {
    background-color: rgb(190, 19, 53);
}

.container2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
 }